@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/filament/**/*';
@source '../../../../vendor/filament/forms/**/*';
@source '../../../../vendor/filament/support/**/*';
@source '../../../../vendor/filament/tables/**/*';
